<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.blog.dao.BlogTypeDao">

    <resultMap id="BlogTypeResult" type="BlogType">
        <id property="id" column="id"/>
        <result property="typeName" column="typeName"/>
        <result property="orderNum" column="orderNum"/>
    </resultMap>

    <insert id="addBlogType" parameterType="BlogType" keyProperty="id" useGeneratedKeys="true">
        INSERT into t_blogtype
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null and !&quot;&quot;.equals(typeName.trim())">
                typeName,
            </if>
            # orderNum 是 int类型，不为空时，肯定是一个数字。
            <if test="orderNum != null">
                orderNum,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="typeName != null and !&quot;&quot;.equals(typeName.trim())">
                #{typeName},
            </if>
            # orderNum 是 int类型，不为空时，肯定是一个数字。
            <if test="orderNum != null">
                #{orderNum},
            </if>
        </trim>
    </insert>

    <delete id="deleteBlogType" parameterType="java.lang.Integer">
        DELETE FROM t_blogtype
        WHERE id = #{id}
    </delete>

    <update id="updateBlogType" parameterType="BlogType">
        UPDATE t_blogtype
        <set>
            <if test="typeName != null and !&quot;&quot;.equals(typeName.trim())">
                typeName = #{typeName},
            </if>
            # orderNum 是 int类型，不为空时，肯定是一个数字。
            <if test="orderNum != null">
                orderNum = #{orderNum},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <sql id="columns">
        id,typeName,orderNum
    </sql>
    <select id="queryById" parameterType="java.lang.Integer" resultMap="BlogTypeResult">
        SELECT <include refid="columns"/> FROM t_blogtype WHERE id = #{id}
    </select>

    <select id="listByPage" resultMap="BlogTypeResult">
        SELECT <include refid="columns"/> FROM t_blogtype LIMIT #{start}, #{end}
    </select>

    <select id="getTotalNum" resultType="java.lang.Long">
        SELECT count(id) FROM t_blogtype
    </select>
</mapper>